<h3><%= t "course.activity" %></h3>
<ul>
  <% if @activities.present? %>
    <% @activities.each do |activity| %>
      <li>
        <%= activity.description %>
        <span class="timestamp"> 
          <%= time_ago_in_words activity.created_at %>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>
