<div class="panel panel-info">
  <div class="panel panel-heading">
    <h3 class="panel-title"><%= t "profile.information" %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= render "profile" %>
    </div>
  </div>
</div>
