@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* static page: header, footer*/
.navbar-admin {
  background-color: #444444;
  border-color: #444444;
}
.navbar-default {
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>
.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #48cfad;
}
.about-content{
  max-width: 400px;
  margin: 0 auto;
}
.footer{
  margin-top: 200px;
  height: 60px;
}
h1{
  color: #37bc9b;
  text-align: center;
}
.jumbotron{
  h1{
    font-size: 36px;
    color: #37bc9b !important;
    text-align: center;
  }
  i{
    color: gray;
  }
}
.btn-width-subject{
  min-width: 76px;
  margin: 0px 20px 10px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors{
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox{
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me{
  width: auto;
  margin-left: 0;
}
.checkbox-sub{
  padding: 0px 20px;
}
.subject{
  input{
    width: auto;
    margin-right: 10px;
  }
  margin: 0 auto;
  .status-trainning{
    width: 150px;
    margin: 10px 0.5% 0px 0.5%;
    padding: 10px;
  }
  .status-not-start{
    width: 150px;
    margin: 10px 0.5% 0px 0.5%;
    padding: 10px;
  }
  .status-finish{
    width: 150px;
    margin: 10px 0.5% 0px 0.5%;
    padding: 10px;
  }
  .not-finish{
    width: 150px;
    margin: 10px 0.5% 0px 0.5%;
    padding: 10px;
  }
  .instruction{
    display: inline;
  }
  ul li{
    list-style-type: none
  }
  .btn-update-sub{
    margin-top: 20px
  }
}
.timestamp{
  font-style: italic;
  font-size: 13px;
  color: rgb(121, 123, 117);
  font-weight: 100;
}
.gravatar{
  margin-bottom: 10px;
}
.select_tag{
  width: auto;
  display: inline;
}
.status-trainning{
  background: #37bc9b;
  color: white;
}
.status-not-start{
  background: #F19603;
  color: white;
}
.status-finish{
  background: #9A9A9A;
  color: white;
}
.not-finish{
  background: red;
  color: white;
}
.subject-button-width{
  width: 85px;
}
.user-course-trainning{
  margin-bottom: 10px;
}
.calendar{
  .course{
    color: blue;
    font-size: large
  }
  .subject{
    color: darkviolet
  }
  .task{
    color: brown;
    font-style:italic;
    font-family: -webkit-body
  }
}
