@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* static page: header, footer*/
.navbar-admin {
  background-color: #444444;
  border-color: #444444;
}
.navbar-default {
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>
.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #48cfad;
}
.about-content{
  max-width: 400px;
  margin: 0 auto;
}
.footer{
  margin-top: 200px;
  height: 60px;
}
h1{
  color: #37bc9b;
  text-align: center;
}
.jumbotron{
  h1{
    font-size: 36px;
    color: #37bc9b !important;
    text-align: center;
  }
  i{
    color: gray;
  }
}
.btn-width-subject{
  min-width: 76px;
  margin: 0px 20px 10px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

