<tr class="info"> 
  <td><%= @course.name %></td>
  <td></td>
  <td></td>
  <td><%= @course.description %></td>
  <td></td>
  <td><%= @course.start_date %></td>
  <td><%= @course.end_date %></td>
</tr>
