<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("header.about"), about_path %></li>
      <li><%= link_to t("header.help"), help_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "header.news" %></a></li>
    </ul>
  </nav>
</footer>
